<?php
/**
 * @var \Smartosc\Article\Block\DetailArticle $block
 */

?>
<h1>Detail page</h1>
<?php
foreach ($block->getArticle() as $article){
    echo '
                    <h4>Article id: '.$article['article_id'].'</h4><br>
                    <h4>Title: '.$article['title'].'</h4><br>
                    <h4>Content: '.$article['content'].'</h4><br>
                    <h4>Path of image:'.$article['image'].'</h4><br>
                    <h4>Date of create at: '.$article['created_at'].'</h4><br>
                    <h4>Date of update at: '.$article['updated_at'].'</h4>';
}
?>