<?php
/**
 * @var \Smartosc\Article\Block\DisplayAllArticle $block
 */
//$block->loadAllArticles();

?>

<style>
    table {  font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;  margin-top: 30px;}
    td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 8px;  }
    tr:nth-child(even) { background-color: #dddddd; }
    .post-id{width:2%} .post-name{width:15%}

</style>
<h1>Display All Articles </h1>
<table>
    <tr>
        <th class="post-id">Article Id</th>
        <th class="post-name">Title</th>
        <th class="post-name">Content</th>
        <th class="post-name">Image</th>
        <th class="post-name">Created at</th>
        <th class="post-name"> Updated at</th>
    </tr>
    <?php
    foreach ($block->loadAllArticles() as $article){
        echo '<tr>
                    <td>'.$article['article_id'].'</td>
                    <td><a href="detailarticle?id='.$article['article_id'].'">'.$article['title'].'</a></td>
                    <td>'.$article['content'].'</td>
                    <td>'.$article['image'].'</td>
                    <td>'.$article['created_at'].'</td>
                    <td>'.$article['updated_at'].'</td>
                  </tr>';
    }
    ?>
</table>
